<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Datos del Usuario</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.materialdesignicons.com/3.5.95/css/materialdesignicons.min.css
"
  />
  <style>
    html,
    body {
      width: 100%;
      height: 100vh;
    }

    body {
      display: grid;
      grid-template-rows: 0.75fr 2fr 0.5fr;
    }

    footer {
      grid-row-start: 3;
      grid-row-end: 4;
    }

    .logo {
      max-width: 30%;
    }

    .profile__picture {
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
    }
  </style>
</head>
